*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#fileInput{
    cursor: pointer;
    /* border-radius: 70px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#allButtons {
    opacity: 1;
    text-align: center; /* This can be kept for text alignment */
    align-items: center; /* Not needed for flexbox, included for clarity */
    position: absolute;
    width: 110px;
    height: 120px;
    top: 40px;
    left: 14px;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    transition: all 0.3s ease;
    background-color: rgb(83, 175, 255);
    background: linear-gradient(105deg, rgba(255,0,0,1) 0%, rgba(0,128,255,1) 100%);

    border-radius: 10px;
    border: none;
}

#allButtons.inMenu{
    opacity: -1;
    position: absolute;
    top: -400px;
    transition: all 0.3s ease;
}




.button {
    z-index: 10;
    display: block; /* Change display to block for proper stacking */
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease;
    margin: 5px 0; /* Add margin for spacing between buttons */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Removed transform property for center alignment */
}

#fileInput {
    display: none; /* Hide the default file input */
}

/* Style the label to look like a button */
#file-label {

    top: 0px;
    color: black;
    background-color: white; /* Bootstrap primary color */

}

/* Change the background color on hover */
#file-label:hover {
    background-color: #008cff;
    font-size: 15px;
    color: white;
    animation: glowPulse 1.5s linear infinite;
    
}

#sliderContainer{
    position: absolute;

    top: 1000vh;
    text-align: center;
    width: 200px;
    height: 20px;


}

#scalar{
    /* position: absolute; */
    cursor: pointer;
}

#scalarValue{
    cursor: pointer;
    color: white;
}



#label{
    color: black;

}

#label:hover{
    color: white;
    background-color: #47e100;
    font-size: 15px;
    animation: glowPulse 1.5s linear infinite;
    
}

#selectionBox {
    position: absolute;
    border: 0.5px solid rgba(21, 0, 255, 0.7);
    background-color: rgba(17, 0, 255, 0.1);
    display: none; /* Initially hidden */
    pointer-events: none; /* Ignore mouse events on this box */
    z-index: 100; /* Ensure it's above other elements */
}

#createFile{
    top: 70px;
    color: black;

}

#createFile:hover{
    background-color: #ff2200;
    font-size: 15px;
    color: white;
    animation: glowPulse 1.5s linear infinite;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes glowPulse {
    0% {
        box-shadow:0 0 0px white ;
    }
    10% {
        box-shadow:0 0 2px white ;
    }
    20% {
        box-shadow:0 0 4px white ;
    }
    30% {
        box-shadow:0 0 8px white ;
    }
    40% {
        box-shadow:0 0 16px white ;
    }
    50% {
        box-shadow:0 0 18px white ;
    }
    60% {
        box-shadow:0 0 18px white ;
    }
    70% {
        box-shadow:0 0 16px white ;
    }
    80% {
        box-shadow:0 0 8px white ;
    }
    90% {
        box-shadow:0 0 4px white ;
    }
    100% {
        box-shadow:0 0 2px white ;
    }
}

#enableSelection{
    top: 105px;
    left: 82px;

    width: 30px;
    height: 30px;
    background-image: url('cursor2.png');
    background-size: 50%, 50%;
    background-position: center;
    background-repeat: no-repeat;

}




#enableSelection:hover{
    background-color: #008cff;
    width: 35px;
    height: 35px;
    animation: glowPulse 1.5s linear infinite;

}

#enableSelectionBox{


    top: 105px;
    left: 118px;


    width: 30px;
    height: 30px;
    background-image: url('cursorSelect.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%, 50%;

}

#enableSelectionBox:hover{
    background-color: #ffae00;
    width: 35px;
    height: 35px;
    animation: glowPulse 1.5s linear infinite;

}

#deselect{
    top: 140px;

    text-align: center;
    color: black;
}

#deselect:hover{
    background-color: #00d5ff;
    font-size: 15px;
    animation: glowPulse 1.5s linear infinite;

}

.glow {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    background-color: #008cff;
}
.bright {
    filter: brightness(1.5); /* 1.5 means 150% brightness */
}


#name{
    position: absolute;
    top: 1000vh;
    left: 10px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: rgba(255, 138, 138, 0.359);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#displayMode{
    text-align: center;
    color: black;
}

#displayMode:hover{

    font-size: 15px;
    background-color: #ffdd00;
    animation: glowPulse 1.5s linear infinite;
    
}

#camera{

    top: 210px;

    text-align: center;
    color: black;
}

#camera:hover{

    font-size: 15px;
    background-color: #ffdd00;
    animation: glowPulse 1.5s linear infinite;
    
}

#control{
    /* opacity: 1; */
    position: absolute;
    
    top: 15px;
    left: 32px;

    transform: translate(-50%, -50%);
    z-index: 10;
}

#control:hover{

    position: absolute;
    font-size: 15px;
    background-color: #47e100;
    animation: glowPulse 1.5s linear infinite;
    
}

.fadeOut{
    opacity: 0;
}

@keyframes rainbow {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: rgb(0, 255, 0); }
    57% { background-color: blue; }
    71% { background-color: rgb(149, 0, 255); }
    85% { background-color: violet; }
    100% { background-color: red; }
}

#menuControls{
    opacity: 1;
    z-index: 1;
    text-align: center; /* This can be kept for text alignment */
    align-items: center; /* Not needed for flexbox, included for clarity */
    position: absolute;
    width: 100vw;
    height: 100px;
    top: 0px;
    left: 0px;
    display: flex; /* Use Flexbox */
    flex-direction: row; /* Stack children vertically */
    justify-content: center; /* Center items vertically */
    gap: 10px;
    align-items: center; /* Center items horizontally */
    transition: all 0.3s ease;
    background-color: rgb(83, 175, 255);
    border: none;
}

#menuControls.menu{
    position: absolute;
    top: -400px;
    left: 0px;
    transition: all 0.3s ease;
}

#tools{
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    box-shadow: 5px 5px 10px rgb(0, 24, 119);
}

#tools:hover{
    background-color: #eeff00;
    font-size: 15px;
}

#info {
    opacity: 1;
    text-align: center; /* This can be kept for text alignment */
    align-items: center; /* Not needed for flexbox, included for clarity */
    position: absolute;
    width: 120px;
    height: 120px;
    top: 40px;
    left: 136px;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    transition: all 0.3s ease;
    background-color: rgb(83, 175, 255);
    background: linear-gradient(105deg, rgba(0,128,255,1) 0%, rgba(255,0,0,1) 100% );

    border-radius: 10px;
    border: none;
}

#info.inMenu{

    opacity: -1;
    position: absolute;
    top: -400px;
    transition: all 0.3s ease;

}

#infoButton{
    box-shadow: 5px 5px 10px rgb(0, 24, 119);
}

#infoButton:hover{
    font-size: 15px;
    background-color: #ffae00;
}

#mainControl{
    z-index: 0;
    opacity: 1;
    text-align: center; /* This can be kept for text alignment */
    align-items: center; /* Not needed for flexbox, included for clarity */
    position: absolute;
    width: 240px;
    height: 40px;
    top: 0px;
    left: 0px;
    display: flex; /* Use Flexbox */
    flex-direction: row; /* Stack children vertically */
    gap: 5px;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    transition: all 0.3s ease;
    /* background-color: rgb(83, 175, 255); */

    border-radius: 10px;
    border: none;
}

#file{
    background-color: #ffffff;
}

#view{
    background-color: #ffffff;
}

#fragBuilder{
    background-color: #ffffff;
}

#file:hover{
    font-size: 15px;
}

#view:hover{
    font-size: 15px;

}

#fragBuilder:hover{
    font-size: 15px;
}

#fragPanel {
    opacity: 1;
    text-align: center; /* This can be kept for text alignment */
    align-items: center; /* Not needed for flexbox, included for clarity */
    position: absolute;
    width: 110px;
    height: 120px;
    top: 40px;
    left: 270px;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    transition: all 0.3s ease;
    background-color: rgb(83, 175, 255);
    background: linear-gradient(105deg, rgba(255,0,0,1) 0%, rgba(0,128,255,1) 100%);

    border-radius: 10px;
    border: none;
}

#fragPanel.inMenu{

    opacity: -1;
    position: absolute;
    top: -400px;
    transition: all 0.3s ease;

}